body {
    margin: 0;
    background-color: #edf2f4;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

h1 {  
    margin: 0;
    font-weight: bold;
    font-size: 80px;
}

.top {
    color: #2b2d42;
    text-align: center;
}

.instructions {
    font-size: large;
}

.scoreboard, #result, .container, #end {
    padding: 0 10rem;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.who {
    display: flex;
    justify-content: center;
    background-color: #ef233c;
    color: white;
    font-size: 17px;
    align-items: center;
    height: 30px;
    width: 100px;
}

#playerScore, #compScore {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #2b2d42;
    width: 100px;
    height: 70px;
    font-size: 50px;
}

#result {
    display: flex;
    align-items: center;
    color: #d90429;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}

.selection {
    background-color: white;
    border-color: #ef233c;
}

.computer-selection {
    border-style: solid;
    border-color: #ef233c;
    background-color: #edf2f4;
}

.image, #playerPic, #compPic {
    height: 90px;
    width: 85px;
    
}

.selection .image {
    transform: rotate(90deg);
}

.computer-selection .image {
    transform: rotate(-90deg) scaleX(-1);
}

#playerPic {
    transform: rotate(90deg);
}

#compPic {
    transform: rotate(-90deg) scaleX(-1);
   
}



#end {
    text-align: center;
    padding-bottom: 10px;
}

#playAgain {
    background-color: #8d99ae;
    color: #edf2f4;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 20px;

}

.game-over {
    color:#d90429;
    font-size: 30px;
    font-style: italic;

}

.footer {
    text-align: center;
    background-color: #2b2d42;
    color: #edf2f4;
    padding: 10px;
    font-size: smaller;
    margin-top: auto;


}